@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: block;

}
/* Custom CSS */
.text-gradient p {
    background-image: linear-gradient(90deg, #F87516, #5E11FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-gradient {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
